*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
img{
    width: 30px;
}
/* header */
#header{
    background-color: #fff;
    box-shadow: 0 0.5px 7px 0px rgb(177, 177, 177);
    height: 3.8rem;
    position: fixed;
    width: 100%;
}
.header__container{
    padding: 0.5rem 0.7rem 0 0;
}
/* header left */
.header__container-left{
    display: flex;
    margin-left: 15px;
}
.header__container-left-logo{
    cursor: pointer;
}
.header__container-left-logo .header__container-left-logo-img{
    width: 40px;
    padding: 0;
}
.header__container-left-search-input{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 15px;
    background-color: rgb(240,242,245);
    position: absolute;
    color: rgb(101,103,107);
}
.fa-search{
    color: rgb(101,103,107);
    position: relative;
    left: 25px;
    top: 10px;
    z-index: 1;
}
.header__container-center{
    /* width: 590px; */
    height: 3.5rem;
    /* background-color: aquamarine; */
    left: 320px;
    top: 1rem;
    display: flex;
    padding: 0px 50px;
    position: relative; 
    top: -3rem;
}
.header__container-center-icon{
   padding: 10px 40px; 
   /* background-color: yellow; */
   display: block;
   position: relative;
}
.header__container-center-icon-img {
    font-size: 25px;
    color: rgb(101,103,107);
}
.market{
    color: rgb(27,116,228);
}
.market-div{ border-bottom: 3px solid rgb(27,116,228);}
.header__container-center .header__container-center-icon-text{
    visibility: hidden ;
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 110%;
    z-index: 1;
    left: 50%;
    translate: 10%;
    margin-left: -65px;
}
.header__container-center-icon:hover .header__container-center-icon-text{
    visibility: visible;
}
/* header right */
.header__container-right{
    display: flex;
    position: absolute;
    top: 10px;
    left: 65rem;
}
.header__container-right-each{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(210, 209, 209);
    margin: 5px;
}
.header__container-right-icon-text{
    visibility: hidden;
    background-color: rgb(0,0,0,0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    top: 110%;
    z-index: 1;
    translate: 30%;
    margin-left: -65px;
}
.header__container-right-each:hover .header__container-right-icon-text{
  visibility: visible;
}
.header__container-right-img{
    font-size: 20px;
    margin: 10px;
    color: black;
}
.header__container-right-img-pf{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.new-message{
  font-size: 25px;
  z-index: 2;
  position: fixed;
  right: 1.5rem;
  top: 31rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  padding: 13px;
  cursor: pointer;
}
.new-message-text{
  z-index: 2;
  position: fixed;
  right: 5rem;
  top: 31.5rem;
  background-color: rgb(0,0,0,0.6);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  visibility: hidden;
}
.new-message:hover .new-message-text{
  visibility: visible;
  /* z-index: 3;
  position: fixed;
  right: 5rem;
  top: 31.5rem;
  background-color: rgb(0,0,0,0.6);
  color: rgb(242, 3, 3);
  border-radius: 5px;
  padding: 5px 10px; */
}

/* body left market */

.body__market{
    position: relative;
    top: 4rem;
    z-index: -1;
    display: flex;
  }
  .body__market-left{
    width: 23rem;
    height: 84vh; 
    overflow-y:hidden;
    z-index: 1;
    position: fixed;
    top: 4rem;
  }
  .body__market-left:hover{
    overflow: auto;
    border-radius:5px 5px;
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  .body__market-left{
    scrollbar-width: auto;
    scrollbar-color: rgb(186, 187, 187);
  }

  /* Chrome, Edge, and Safari */
  .body__market-left::-webkit-scrollbar{
    width: 15px;
  }

  .body__market-left::-webkit-scrollbar-track{
    background: #f0f0f0;
  }

  .body__market-left::-webkit-scrollbar-thumb{
    background-color: rgb(186, 187, 187);
    border-radius: 10px;
    border: 4px solid #f0f0f0;
  }


  .body__market-left-header{
    display: flex;
    padding: 10px 0 0 15px;
  }
  .body__market-left-header-setting{
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 8px;
    background-color: rgb(210, 209, 209);
    color: #000;
    transition: all 0.3s;
    position: relative;
    left: 10rem;
  }
  .body__market-left-header-setting:hover{
    background-color: rgb(184, 181, 181);
  }
  .body__market-left-header-search{
    width: 320px;
    height: 35px;
    border-radius: 30px;
    font-size: 13px;
    padding-left: 2rem;
    background-color: rgb(210, 209, 209);
    border: none;
    margin: 15px;
    position: relative;
    top: -1rem;
  }
  .body__market-left-header-search-icon{
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    color: rgb(121, 119, 119);
    z-index: 1;
  }
  .body__market-left-menu-each{
    width: 330px;
    height: 50px;
    display: flex;
    padding: 10px;
    margin-left: 1rem;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
  }
  .body__market-left-menu-each:hover{
    background-color: rgb(231, 231, 231);
  }
  .body__watch-left-menu-each-icon{
    font-size: 25px;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(210, 209, 209);
    padding: 8px;
  }
  .body__market-left-menu-each-text{
    font-size: 17px;
    padding: 10px;
  }
  .home-market{
    background-color: #216FDB;
    color: #fff;
  }
  .home-market-div{background-color: rgb(227, 228, 229);}
  /* body right market */
  .body__market-right{
    background-color: rgb(242, 241, 242);
    padding: 1.5rem 2.5rem;
    width: 57rem;
    position: absolute;
    left: 22rem;
  }
  .body__market-right-container{
    padding: 10px;
  }
  .body__market-left-header-fixed{
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 22rem;
    height: 7rem;
  }
  .body__market-left-under-header{
    position: relative;
    top: 8rem;
  }
  .body__market-right-header{
    height: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .body__market-right-container-row1,  .body__market-right-container-row2,  .body__market-right-container-row3{
    display: flex;
    height: 22.5rem;
}
  .body__market-right-container-row-left,.body__market-right-container-row-center,.body__market-right-container-row-right{
    margin: 10px;
    height: 22.5px;
    cursor: pointer;
  }
  .body__market-right-container-row-left-img{
    width: 270px;
    height: 270px;
    border-radius: 5px;
  }
  .body__market-right-container-row-left-price{
    font-weight: 600;
    font-size: 17px;
  }
  .body__market-right-container-row-left-title{
    font-size: 15px;
  }
  .body__market-right-container-row-left-detail{
    font-size: 13px;
    color: rgb(101,103,107);
  }
  .body__market-right-header-right-text{
    color: #216FDB;
    position: relative;
    left: 6rem;
    cursor: pointer;
  }
  .body__market-right-header-right-text:hover{text-decoration: underline;}
  .body__market-left-menu-each-create-btn{
    padding: 0.3rem 6rem;
    margin: 0.3rem 0.5rem;
    font-size: 16px;
    font-weight: 600;
    color: #216FDB;
    background-color: rgba(79, 154, 245, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .body__market-left-menu-each-create-btn:hover{
    background-color: rgba(94, 139, 197, 0.2);
  }
  .body__market-left-filter{
    padding: 10px;
    height: 5rem;
}
.body__market-left-filter-title{
    font-size: 17px;
    margin: 5px 0;
}
.body__market-left-filter-text{
    color: #216FDB;
    padding: 5px;
    cursor: pointer;
}
.body__market-left-filter-text:hover{
    background-color: rgb(240,242,245);
    border-radius: 5px;
    padding: 5px;
    border: none;
}
hr{
    width: 21.5rem;
}
.body__market-left-cate-title{
    margin: 10px 0px 0px 5px;
}